body {
    font-family: 'Roboto', sans-serif; 
    background-color: #f0f0f0; /* Warna latar belakang umum (dapat Anda ubah) */
    color: #333; 
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffc0cb; /* Pink muda */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
    border-radius: 15px; 
    color: #333; /* Warna teks gelap */
}

h1 {
    font-size: 36px; /* Perbesar tulisan judul */
    color: #333; /* Warna teks gelap */
}

.instructions {
    font-size: 24px; /* Perbesar tulisan instruksi */
    margin-bottom: 30px;
    color: #333; /* Warna teks gelap */
}

#timer {
    font-size: 24px; /* Perbesar tulisan Time */
}

#score {
    font-size: 24px; /* Perbesar tulisan Score */
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 211.8px;
    height: 166.2px;
    background-color: #a3d2a1; /* Warna hijau muda sebelum kartu dibuka */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    visibility: hidden; /* Hide images by default */
    display: block;
}

.card.show img {
    visibility: visible; /* Show image when card is flipped */
}

#start-game {
    background-color: #000; /* Warna hitam pada tombol start */
    color: #fff; /* Warna teks putih */
    padding: 18px 36px; /* Perbesar padding untuk memperbesar kotak */
    border: none;
    border-radius: 8px; /* Perbesar radius border untuk memperbesar kotak */
    cursor: pointer;
    font-size: 24px; /* Perbesar ukuran font */
    transition: background-color 0.3s, transform 0.3s;
}

#start-game:hover {
    background-color: #333; /* Warna hitam yang lebih gelap pada hover */
    transform: scale(1.05); /* Memperbesar sedikit pada hover */
}
